<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.modabba">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:name=".RemoteConfig.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".VerificationActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".SignUpActivity"/>
        <activity android:name=".FeedbackActivity"></activity>
        <activity android:name=".Payment.PaymentActivity"/>
        <activity android:name=".Payment.AddMoney"/>
        <activity android:name=".MapActivity"/>
        <activity android:name=".CheckoutActivity"/>
        <activity android:name=".OrderSuccess"/>
        <activity android:name=".ActiveSubActivity.ActiveSubscriptionActivity"/>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_aWAiIUdHCagqWX" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>